#button{
    background-color: #3d5afe;
    width:200px;
    height:50px;
    color: white;
    border-radius: 20px;
    font-size: 20px;
}
#button2{
    background-color: #3d5afe;
    width:250px;
    height:50px;
    color: white;
    border-radius: 20px;
    font-size: 20px;
}
#button3{
    background-color: #3d5afe;
    width:170px;
    height:50px;
    color: white;
    border-radius: 20px;
    font-size: 20px;
}
.parent-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-size: center;
    background-attachment: fixed;
    height:100vh;
    margin:0px;
    display: flex;
    justify-content:center ;
    align-items: center;
    background: #24C6DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}
.outer-div{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly ;
    background-color:white;
    align-items: center;
    width:70%;
    height: 80vh;
    border-radius: 50px;
    box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.5), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.login-div{
 border-radius: 4px;
 display: flex;
  justify-content: center;
  flex-direction: column; 
  margin-bottom: 50px;
  width:600px;
  
}
.logo{
    transform: scale(2.8);
    color: #3f51b5;
}

.icon1{
    color: #3f51b5;
    transform: scale(1.5);
}
.icon2{
    color:#3f51b5;
    transform: scale(1.2);
}
.link{
    text-decoration: none;
    color:white;
}


